<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.xiaoxingxing.playground.rocketmq.mapper.MqConsumerRecordMapper">

    <insert id="insertConsumedIfAbsent"
            parameterType="com.xt.xiaoxingxing.playground.rocketmq.entity.MqConsumedMessage">
        INSERT INTO mq_consumed_message (
            consumer_group, consume_id, consumed_at
        ) VALUES (
            #{consumerGroup}, #{consumeId}, COALESCE(#{consumedAt}, CURRENT_TIMESTAMP)
        )
        ON CONFLICT (consumer_group, consume_id) DO NOTHING
    </insert>

</mapper>
